.head{

    color: blue;
}


@import url('https://fonts.googleapis.com/css2?family=Asap&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Asap", sans-serif;
}
body{
  background: rgba(255, 255, 255, 0.966);
  scroll-behavior: smooth;
  /* margin-right: -100px; */
  /* margin: 0; */
  margin-top: 10px;
  width: 1200px;
}
section{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}
section:nth-child(1){
  color: #1e2727;
  }
section:nth-child(2){
  color: #1d1e24;
  background: #e0ffff;
} 
section:nth-child(3){
  color: #1f2b2b;
}
section:nth-child(4){
  color: #15151a;
  background: #e0ffff;
}
section .container{
  margin: 100px;

}
section h1{
  font-size: 3rem;
  margin: 20px;
}
section h2{
  font-size: 40px;
  text-align: center;
  text-transform: uppercase;
}
section .text-container{
   display: flex;
   margin-right: 10px;
   padding: 10px;
   
}
section .text-container .text-box{
  margin: 20px;
  padding: 20px;
  /* margin-right: 20px; */
  line-height: 25px;
  text-indent: .5em;
  text-align: justify;
  background: #00c2cb;
  /* width:250px; */

}
section .text-container .text-box h3{
  font-size: 30px;
  text-align: center;
  /* text-transform: uppercase; */

  margin-bottom: 10px;
}

@media (max-width: 1000px){
  section h1{
    font-size: 2rem;
    text-align: center;
  }
  section .text-container{
    flex-direction: column;
    /* flex-direction: row; */
  }
}

.reveal{
  position: relative;
  transform: translateY(150px);
  
  opacity: 0;
  transition: 1s all ease;
}

.reveal.active{
  transform: translateY(0);
    opacity: 1;
}



.prog{

    width: 500px;
    height: 200px;
    /* position: absolute;
    width: 100%;
    opacity: 0.3; */
}


.prog2{


  margin-left: 20px;
  position: absolute;
  width: 80%;
  /* height: 80%; */
  opacity: 0.5;
}


/* .section1{
  position:absolute;

} */



#slider {
	overflow: hidden;
}

@keyframes slider {
	/* 0% { left: 0; }
	30% { left: 0; }
	33% { left: -100%; }
	63% { left: -100%; }
	66% { left: -200%; }
	95% { left: -200%; }
	100% { left: 0; } */

  0% { left: 0; }
	20% { left: 0; }
	23% { left: -100%; }
  40% { left: -100%; }
  43% { left: -200%; }
  60% { left: -200%; }
  63% { left: -300%; }
  80% { left: -300%; }
  83% { left: -400%; }
  85% { left: -400%; }
  100% { right: 0%;}
  
}
#slider figure {
	
  width:500%;
  position: relative;
  object-fit: cover;
	animation: 15s slider infinite;
}

#slider figure:hover {
	animation-play-state: paused; 
}
#slider figure img {
  width: 20%;
	/* width: 33.333333333%; */
	/* height : 100%; */
  height: 500px;
	float: left;
}

.front{
  margin: 0;
  width: 100%;
}

.aboutr{
  width: 50%;
  text-align: justify;
}

.aboutl{
  width: 50%;
  margin-left: 600px;
  margin-top: -900px;
  text-align: justify;
}
.aboutimg1{
  /* margin: 20px; */
  width:75%;
  

}

.abouttext:hover{
  border: 1px solid black;
  border-radius: 20px;
  padding: 10px;
  color: #00c2cb;
}

.home_text{
  margin: 5px;
  /* padding: 0; */
  text-indent: 0;
  text-align: center;
}


.logIn{
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 5px 5px 5px 5px rgb(124, 121, 121);
  padding: 10px;
  margin:20px;
  margin-left: 850px;
  /* text-align: right; */
  width: 25%;
}
.form{
  /* text-align: right; */
  font-size: 15px;
}

.tabledesign{
  border: 2px solid black;
  padding: 10px;
  box-shadow: 5px 5px 5px 5px rgb(124, 121, 121);

}